backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
certifi==2017.7.27.1
cycler==0.10.0
cytoolz==0.8.2
decorator==4.1.2
funcsigs==1.0.2
functools32==3.2.3.post2
matplotlib==2.1.0
mock==2.0.0
networkx==2.0
numpy==1.12.1
pandas==0.20.3
pbr==3.1.1
protobuf==3.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
tensorflow==1.1.0
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.4
Werkzeug==0.12.2